[submodule "IR2Vec"]
	path = IR2Vec
	url = https://github.com/IITH-Compilers/IR2Vec.git
	branch = llvm10
[submodule "MLCompilerBridge"]
	path = MLCompilerBridge
	url = https://github.com/IITH-Compilers/MLCompilerBridge.git
	branch = main
